<!DOCTYPE html>
<html>
<head>
  <title>Résultats des étudiants de vos projets</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-4">
    <app-nav-bar-enseignant></app-nav-bar-enseignant>
    <h3 class="text-center mt-5 mb-4 pt-5">Résultats des étudiants de vos projets</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Étudiant</th>
          <th>Projet</th>
          <th>Compétences</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resultat of resultats">
          <td>{{ resultat.etudiant.nom }} {{ resultat.etudiant.prenom }}</td>
          <td>{{ resultat.projet}} </td>
          <td>
            <ul>
              <li *ngFor="let competence of resultat.competences">
                {{ competence.competence.nom }} - {{ competence.niveauAcquisition }}
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>