<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ajouter un utilisateur (Enseignant / Etudiant)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

  <app-nav-bar></app-nav-bar>
  <h2 class="text-center mt-5 mb-4">Ajouter un utilisateur (Enseignant / Etudiant)</h2>

  <div class="container">
    <form (ngSubmit)="Add()" [formGroup]="formulaire" class="border rounded p-4">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" id="nom" name="nom" formControlName="nom" class="form-control">
      </div>

      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input type="text" id="prenom" name="prenom" formControlName="prenom" class="form-control">
      </div>

      <div class="form-group">
        <label for="email">Adresse email</label>
        <input type="email" id="email" name="email" formControlName="email" class="form-control">
      </div>

      <div class="form-group">
        <label for="motdepasse">Mot de passe</label>
        <input type="password" id="motdepasse" name="motdepasse" formControlName="motdepasse" class="form-control">
      </div>

      <div class="form-group">
        <label for="confirmermotdepasse">Confirmer le mot de passe</label>
        <input type="password" id="confirmermotdepasse" name="confirmermotdepasse" formControlName="confirmermotdepasse" class="form-control">
      </div>

      <div class="form-group">
        <label for="role">Rôle</label>
        <select id="role" name="role" formControlName="role" class="form-control">
          <option value="enseignant">Enseignant</option>
          <option value="étudiant">Étudiant</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary mt-3 mr-2">Soumettre</button>
      <button type="button" class="btn btn-danger mt-3" onclick="history.back()">Retour</button>
    </form>
  </div>
</body>
</html>