<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Supprimer le compte</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <app-nav-bar></app-nav-bar>
  <div class="container">
    <h2 class="text-center mt-5 mb-4 pt-5">Supprimer un Compte (Enseignant / Etudiant)</h2>
    <form (ngSubmit)="Remove()" [formGroup]="formulaire">
      <div class="form-group">
        <label for="email">Adresse email</label>
        <input type="email" class="form-control" id="email" name="email" formControlName="email" value={{email}}>
      </div>
      <button type="submit" class="btn btn-primary mt-3 mr-2">Supprimer</button>
      <button type="button" class="btn btn-danger mt-3" onclick="history.back()">Retour</button>
    </form>
  </div>
</body>
</html>