<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Modification des utilisateurs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <app-nav-bar></app-nav-bar>
  <div class="container">
    <h2 class="text-center my-5 pt-5">Modification des utilisateurs</h2>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Rôle</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.nom }}</td>
          <td>{{ user.prenom }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td class="text-center">
            <a routerLink="/supprimer" [queryParams]="{email: user.email}" class="btn btn-danger btn-sm custom-btn"><i class="fas fa-trash"></i> Supprimer l'utilisateur</a>
            <br><br>
            <a routerLink="/modifier-users" class="btn btn-primary btn-sm custom-btn"><i class="fas fa-edit"></i> Modifier ses informations</a>
            <br><br>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
